<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!--  Foundation icons -->
    <link rel="stylesheet" href="css/foundation-icons.css">


    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/application.css">

    <!-- Animated headlines -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/animated-headlines/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="css/animated-headlines/style.css"> <!-- Resource style -->
    <script src="js/animated-headlines/modernizr.js"></script> <!-- Modernizr -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body onload="">

    <div class="wrapper" "text-center">
      <a class="fi-microphone" id="microphone" href="#"></a>
      <!-- http://webdesign.tutsplus.com/tutorials/creating-a-collection-of-css3-animated-pre-loaders--cms-21978 -->
      <div class="recording-animation" style="visibility: hidden;">
        <div class="circle"></div>
      </div>
    </div>

    <div class="row">
      <div class="small-4 small-offset-8 columns text-center">
        <div class="switch round tiny">
          <input id="auto-stop" checked type="checkbox">
          <label for="auto-stop"></label>
          <span class="checkbox-label">Auto stop</span>
        </div>
      </div>
  </div>

  <div id="transcribed-text-wrapper">
    <div class="panel clearfix">
      <div class="twelve columns text-center">
        <div id="transcribed-text">
          <h3></h3>
        </div>
      </div>
    </div>
  </div>

  <section class="cd-intro">
    <h1 class="cd-headline push">
      <span class="cd-words-wrapper">
        <b class="is-visible">Zoom in</b>
        <b>Search for the closest hotel</b>
        <b>Where are the most expensive cinemas in granada</b>
        <b>Find the cheapest train station</b>
        <b>Search for the cheapest chinese restaurant</b>
        <b>Search for hotels</b>
        <b>Go to New York</b>
        <b>Directions from Prague to Chicago</b>
        <b>Find the best vegetarian restaurant</b>
        <b>Search for the cheapest church in Detroit</b>
        <b>Directions from Washington to Chicago</b>
        <b>Where is the cheapest vegetarian restaurant in Detroit</b>
        <b>Where are the closest tram stops in liberec</b>
        <b>Where is the closest chinese restaurant in Prague</b>
        <b>Directions from Spain to germany</b>
        <b>Move left</b>
        <b>Directions from New York to Washington</b>
        <b>Where is the closest japanese restaurant in Italy</b>
        <b>View in satellite mode</b>
        <b>Search for expensive restaurants in germany</b>
        <b>Find restaurants</b>
        <b>Where is the best cinema in Spain</b>
        <b>Go to dallas</b>
        <b>Find the best vegetarian restaurant</b>
        <b>Find hospitals</b>
        <b>Search for churches in Chicago</b>
        <b>Where are the cheapest hospitals</b>
        <b>Where am I</b>
        <b>Move left</b>
        <b>Find chinese restaurants</b>
        <b>Directions from Spain to Detroit</b>
        <b>Set zoom level to sixteen</b>
        <b>Set zoom level to ten</b>
        <b>View in satellite mode</b>
        <b>Look for vegetarian restaurants</b>
        <b>Where is the most expensive theater in Prague</b>
        <b>Look for close spanish restaurants</b>
        <b>Find nearby metro stations</b>
        <b>Set zoom level to four</b>
        <b>Directions from Czech Republic to huelma</b>
        <b>Search for spanish restaurants</b>
        <b>Where is the nearest hospital</b>
        <b>Directions from liberec to Prague</b>
        <b>Go to france</b>
        <b>Set zoom level to twenty</b>
        <b>Move right</b>
        <b>Where is the closest cinema</b>
        <b>Search for the best hospital</b>
        <b>Look for hospitals</b>
        <b>Set zoom level to eighteen</b>
        <b>Set zoom level to max</b>
        <b>Move down</b>
        <b>Zoom out</b>
        <b>Set zoom level to max</b>
        <b>Where are the closest hotels in huelma</b>
        <b>Search for the cheapest vegetarian restaurant in Washington</b>
        <b>Look for the most expensive tram stop</b>
        <b>Find the cheapest church</b>
        <b>Move left</b>
        <b>Zoom out</b>
        <b>Directions from Italy to Washington</b>
        <b>Find the most expensive theater in Czech Republic</b>
        <b>Find churches</b>
        <b>Directions from Spain to here</b>
        <b>Directions from Detroit to Prague</b>
        <b>Look for japanese restaurants in germany</b>
        <b>Look for the most expensive chinese restaurant</b>
        <b>Look for cheap vegetarian restaurants</b>
        <b>Look for cheap hospitals in liberec</b>
        <b>Look for the nearest vegetarian restaurant</b>
        <b>Look for metro stations in New York</b>
        <b>Find the cheapest church</b>
        <b>Move left</b>
        <b>Search for pharmacies in france</b>
        <b>Find nearby metro stations in madrid</b>
        <b>Set zoom level to four</b>
        <b>Set zoom level to sixteen</b>
        <b>Where are the cheapest train stations in liberec</b>
        <b>Where is the nearest hospital</b>
        <b>Go to Chicago</b>
        <b>Search for the nearest restaurant in madrid</b>
        <b>Set zoom level to zero</b>
        <b>Find tram stops</b>
        <b>Search for the closest mexican restaurant</b>
        <b>Set zoom level to one</b>
        <b>Find the closest metro station</b>
        <b>Where are the cheapest chinese restaurants</b>
        <b>Look for metro stations in Spain</b>
        <b>Go to liberec</b>
        <b>Search for pharmacies</b>
        <b>Move left</b>
        <b>Look for restaurants in New York</b>
        <b>Look for the most expensive vegetarian restaurant in Detroit</b>
        <b>Find the most expensive cinema</b>
        <b>Find chinese restaurants in Prague</b>
        <b>Where is the cheapest theater in huelma</b>
        <b>Look for the cheapest train station in New York</b>
        <b>Where are the most expensive restaurants</b>
        <b>Move up</b>
        <b>Search for japanese restaurants in Czech Republic</b>
        <b>Go to Italy</b>
        <b>Find the best spanish restaurant</b>
        <b>Set zoom level to thirteen</b>
        <b>Go to Washington</b>
        <b>Look for tram stops</b>
        <b>Find pharmacies</b>
        <b>Directions from Italy to france</b>
        <b>Move up</b>
        <b>Search for the most expensive tram stop in Italy</b>
        <b>Find the nearest hotel in Prague</b>
        <b>Go to Prague</b>
        <b>Directions from granada to huelma</b>
        <b>Find close churches in madrid</b>
        <b>Find nearby metro stations in liberec</b>
        <b>Where are the nearest spanish restaurants in Detroit</b>
        <b>View in satellite mode</b>
        <b>Where is the nearest church in france</b>
        <b>Move right</b>
        <b>Where is the closest tram stop in madrid</b>
        <b>Where are the best japanese restaurants</b>
        <b>Directions from Italy to dallas</b>
        <b>Set zoom level to maximum</b>
        <b>Find the most expensive chinese restaurant</b>
        <b>Where is the most expensive train station</b>
        <b>Where are the best restaurants in New York</b>
        <b>View in satellite mode</b>
        <b>Search for nearby tram stops in liberec</b>
        <b>Search for the most expensive theater in Italy</b>
        <b>View in satellite mode</b>
        <b>Look for tram stops in Washington</b>
        <b>Find theaters</b>
        <b>Where is the closest japanese restaurant in Prague</b>
        <b>Find the best church</b>
        <b>Where are the best japanese restaurants</b>
        <b>Search for the most expensive chinese restaurant</b>
        <b>Search for metro stations</b>
        <b>Look for vegetarian restaurants in madrid</b>
        <b>Go to Czech Republic</b>
      </span>
    </h1>
  </section>


    <footer class="row">
      <div class="small-12 columns text-center">
        <ul>
          <li>r@ragar.me</li>
          <li>|</li>
          <li><a href="https://github.com/osondoar/vohtk">Project on GitHub</a></li>
        </ul>
      </div>
    </div>

    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/recorder.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/animated-headlines/main.js"></script> <!-- Modernizr -->

  </body>

</html>
